#main {
	font-size: 12px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fefff2;
	padding: 15px;
	text-align: justify;
	border: 1px solid #919191;
}

body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.title {
	font-size: 18px;
	font-weight: bold;
}

.subtitle {
	font-size: 14px;
	font-weight: bold;
}

.subtitleold {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #515151;
	width:  500px;
}

.copyright {
	font-size: 11px;
	color: #515151;
	text-align: justify;
}

code {
    font-weight: bold;
}